In [ ]:
import pandas as pd

df_clientes = pd.read_csv('../data/clientes.csv')
df_clientes

In [5]:
# Método para exibir os primeiros registros do dataframe
df_clientes.head(2)

,idCliente,flEmail,flTwitch,flYouTube,flBlueSky,flInstagram,qtdePontos,dtCriacao,dtAtualizacao
0,000ff655-fa9f-4baa-a108-47f581ec52a1,0,0,0,0,0,686,NaN,NaN
1,001749bd-37b5-4b1e-8111-f9fbba90f530,0,0,0,0,0,50,NaN,NaN

In [7]:
# Método para exibir os últimos registros do dataframe
df_clientes.tail(2)

,idCliente,flEmail,flTwitch,flYouTube,flBlueSky,flInstagram,qtdePontos,dtCriacao,dtAtualizacao
2434,ff2cabd3-3316-4b3f-8494-c25f95e90524,0,1,0,0,0,57,2025-02-10 11:12:30.631,2025-02-10 12:37:47.892
2435,ff4909ad-4e52-4767-a6fc-0fbd76e37857,0,0,0,0,0,50,NaN,NaN

In [13]:
# Método para exibir registros aleatórios do dataframe
df_clientes.sample(2)

,idCliente,flEmail,flTwitch,flYouTube,flBlueSky,flInstagram,qtdePontos,dtCriacao,dtAtualizacao
1376,8cf8e162-bcf1-4a68-9ea5-44ec75484734,0,1,0,0,0,1933,0000-00-00 00:00:00.000,2025-02-04 12:36:04.804
1523,9cc7ec77-ab80-4666-b0de-9ff0704da076,0,0,0,0,0,61,NaN,NaN

In [ ]:
# Atributo para exibir as dimensões do dataframe (linhas x colunas)
df_clientes.shape

(2436, 9)

In [ ]:
# Atributo para exibir o nome das colunas do dataframe
df_clientes.columns

Index(['idCliente', 'flEmail', 'flTwitch', 'flYouTube', 'flBlueSky',
       'flInstagram', 'qtdePontos', 'dtCriacao', 'dtAtualizacao'],
      dtype='object')

In [ ]:
# Atributo para exibir o intervalo de índices do dataframe
df_clientes.index

RangeIndex(start=0, stop=2436, step=1)

In [18]:
# Método para exibir as informações do dataframe
df_clientes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2436 entries, 0 to 2435
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   idCliente      2436 non-null   object
 1   flEmail        2436 non-null   int64
 2   flTwitch       2436 non-null   int64
 3   flYouTube      2436 non-null   int64
 4   flBlueSky      2436 non-null   int64
 5   flInstagram    2436 non-null   int64
 6   qtdePontos     2436 non-null   int64
 7   dtCriacao      834 non-null    object
 8   dtAtualizacao  834 non-null    object
dtypes: int64(6), object(3)
memory usage: 171.4+ KB

In [19]:
# Método para exibir a quantidade de memória ram que o dataframe está ocupando
df_clientes.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2436 entries, 0 to 2435
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   idCliente      2436 non-null   object
 1   flEmail        2436 non-null   int64
 2   flTwitch       2436 non-null   int64
 3   flYouTube      2436 non-null   int64
 4   flBlueSky      2436 non-null   int64
 5   flInstagram    2436 non-null   int64
 6   qtdePontos     2436 non-null   int64
 7   dtCriacao      834 non-null    object
 8   dtAtualizacao  834 non-null    object
dtypes: int64(6), object(3)
memory usage: 533.9 KB

In [27]:
# Exibir Series com a relação de nome da coluna e tipo de dados.
df_clientes.dtypes

idCliente        object
flEmail           int64
flTwitch          int64
flYouTube         int64
flBlueSky         int64
flInstagram       int64
qtdePontos        int64
dtCriacao        object
dtAtualizacao    object
dtype: object

In [28]:
df_clientes.dtypes["qtdePontos"]

dtype('int64')