In [3]:
import pandas as pd

df = pd.read_csv("../data/clientes.csv")

In [ ]:
# Ordenar pela coluna "qtdePontos"

df.sort_values(by="qtdePontos", ascending=False)

,idCliente,flEmail,flTwitch,flYouTube,flBlueSky,flInstagram,qtdePontos,dtCriacao,dtAtualizacao
792,4fade907-6e0f-4581-a674-aad6622b1b10,0,1,0,0,0,30799,0000-00-00 00:00:00.000,2025-02-28 12:53:28.913
1226,803debdb-8136-4cb5-af29-dcd8db36bf2c,0,1,0,0,0,15296,0000-00-00 00:00:00.000,2025-02-28 13:19:26.475
449,2a9d4ba3-4c58-47f9-8dc4-6f9cb50be1b1,1,1,0,0,0,13232,0000-00-00 00:00:00.000,2025-03-06 11:31:49.031
663,41f925fd-9aa0-4043-9774-212c538133cc,1,1,0,0,0,12670,0000-00-00 00:00:00.000,2025-03-06 11:48:20.416
304,1b08989c-039d-4c82-879b-0f56159a1ebb,0,1,0,0,0,12209,0000-00-00 00:00:00.000,2025-03-06 11:42:41.964
...,...,...,...,...,...,...,...,...,...
7,00c26486-33e8-4af9-8e0f-4ee220252ca9,0,0,0,0,0,0,NaN,NaN
368,21c34589-9ac0-454c-aa51-25df07fe6de9,0,0,0,0,0,0,NaN,NaN
2092,d94a6d45-c4ee-4bff-b4f8-c5c92a3c5533,0,0,0,0,0,0,NaN,NaN
2088,d8c8e4bf-3036-47bf-9444-3f571f4bc318,0,0,0,0,0,0,NaN,NaN
2042,d332b0d2-12db-45dd-9d6b-addd75972c2e,0,0,0,0,0,0,NaN,NaN