In [45]:
import pandas as pd

df = pd.read_csv("../data/clientes.csv")
df.head(2)

,idCliente,flEmail,flTwitch,flYouTube,flBlueSky,flInstagram,qtdePontos,dtCriacao,dtAtualizacao
0,000ff655-fa9f-4baa-a108-47f581ec52a1,0,0,0,0,0,686,NaN,NaN
1,001749bd-37b5-4b1e-8111-f9fbba90f530,0,0,0,0,0,50,NaN,NaN

In [46]:
df["qtdePontos"].astype(float)

0        686.0
1         50.0
2          2.0
3       1090.0
4          0.0
         ...
2431     111.0
2432      54.0
2433     162.0
2434      57.0
2435      50.0
Name: qtdePontos, Length: 2436, dtype: float64

In [47]:
# Convertendo para o tipo data
df["dtCriacao"]

0                           NaN
1                           NaN
2                           NaN
3       0000-00-00 00:00:00.000
4                           NaN
                 ...
2431                        NaN
2432    2025-01-21 11:49:58.172
2433                        NaN
2434    2025-02-10 11:12:30.631
2435                        NaN
Name: dtCriacao, Length: 2436, dtype: object

In [48]:
# 
df["dtCriacao"] = df["dtCriacao"].replace({
    "0000-00-00 00:00:00.000": "2003-04-02 09:00:00.000"
})

In [49]:
df["dtCriacao"] = pd.to_datetime(df["dtCriacao"])

In [56]:
df["dtCriacao"].dt.year

0          NaN
1          NaN
2          NaN
3       2003.0
4          NaN
         ...
2431       NaN
2432    2025.0
2433       NaN
2434    2025.0
2435       NaN
Name: dtCriacao, Length: 2436, dtype: float64