In [1]:
import pandas as pd

idades = pd.Series([2, 5, 34, 2, 12, 56, 75, 3, 21])

In [2]:
idades.sum()

np.int64(210)

In [3]:
idades.min()

np.int64(2)

In [4]:
idades.max()

np.int64(75)

In [5]:
idades.mean()

np.float64(23.333333333333332)

In [6]:
idades.describe()

count     9.000000
mean     23.333333
std      26.561250
min       2.000000
25%       3.000000
50%      12.000000
75%      34.000000
max      75.000000
dtype: float64

In [8]:
clientes = pd.read_csv("../data/clientes.csv")
clientes.head()

,idCliente,flEmail,flTwitch,flYouTube,flBlueSky,flInstagram,qtdePontos,dtCriacao,dtAtualizacao
0,000ff655-fa9f-4baa-a108-47f581ec52a1,0,0,0,0,0,686,NaN,NaN
1,001749bd-37b5-4b1e-8111-f9fbba90f530,0,0,0,0,0,50,NaN,NaN
2,0019bb9e-26d4-4ebf-8727-fc911ea28a92,0,0,0,0,0,2,NaN,NaN
3,0033b737-8235-4c0f-9801-dc4ca185af00,0,1,0,0,0,1090,0000-00-00 00:00:00.000,2025-02-19 12:48:24.632
4,00684343-40b5-4ce7-b2e8-71a5340973bf,0,0,0,0,0,0,NaN,NaN